/* Javafx css */

/*@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');*/

* {
    -screen-width: 1366;
    -screen-height: 768;
    -color1: #5680E9;
    -color2: #84CEEB;
    -color3: #5AB9EA;
    -color4: #C1C8E4;
    -color5: #8860D0;
    -fontSize: 24;
}

.screen {
    -fx-background-color: #C1C8E4;
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 5;
    -fx-border-color: -color1;
}

.root {
    -fx-font-size: 24;
    -fx-font-family: 'Chewy';

}

.brand {
    -fx-font-size: 50;
    -fx-font-weight: bold;
    -fx-text-fill: -color1;
    -fx-alignment: center;
}

.brand .brandParking {
}

.logo:hover {
    -fx-cursor: hand;
}

.search {
    -fx-font-size: 24;
    /*-fx-font-weight: regular;*/
    -fx-text-fill: -color1;
    -fx-pref-width: 500;
    -fx-pref-height: 65;
    -fx-background-radius: 35;
    -fx-border-radius: 35;
    -fx-border-color: -color1;
    -fx-border-width: 1;
    -fx-padding: 0 60 0 30;
}

.search:hover {
    -fx-effect: dropshadow(three-pass-box, -color3, 20, -10, 5, 5)
}

/* .searchIcon {
    -fx-opacity: 0;
}

.search:hover+.searchIcon {
    -fx-opacity: 1;
} */

.optBtn {
    -fx-background-color: linear-gradient(to bottom right, rgb(198, 216, 217) 38%, rgba(90, 185, 234, 1) 75%);
    -fx-border-color: -color1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 2 5 5 2;
    -fx-cursor: hand;
    /*-fx-padding: auto;*/
}


.optBtn:pressed {
    -fx-background-color: linear-gradient(to bottom right, rgb(198, 216, 217) 50%, rgba(90, 185, 234, 1) 90%);
    -fx-border-color: -color4 -color1 -color1 -color4;
    -fx-border-width: 3 1 1 3;
    -fx-show-duration: all 1s;
}

.optBtn .btn {
    /* -fx-pref-width: 200; */
    -fx-background-color: transparent;
    -fx-text-fill: -color1;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.optBtn:pressed .btn {
    -fx-text-fill: -color5;

}

.optBtn:pressed .optBtn-img {
    -fx-opacity: 0.7;
    -fx-translate-y: 2;
}

#topBar {
    -fx-background-color: -color4;
}

.parking {
    -fx-background-color: rgb(197, 230, 255);
    -fx-border-color: -color5;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-margin: 10;
    -fx-min-height: 250;
    -fx-max-width: 405;
    -fx-pref-width: 405;
    -fx-cursor: hand;
}

.parking:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(56, 55, 55, 0.5), 15, 0, 5, 5);
}

.processBar {
    -fx-pref-width: 500;
    -fx-pref-height: 50;
}


.bike {
    -fx-background-color: rgb(197, 230, 255);
    -fx-border-color: -color5;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-margin: 10;
    -fx-min-height: 320;
    -fx-max-width: 405;
    -fx-pref-width: 405;
}

.bike:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(56, 55, 55, 0.5), 15, 0, 5, 5);
    -fx-cursor: hand;
}


.bikeImg {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-pref-width: 320;
    /* -fx-pref-height: 200; */

    -fx-border-color: -color1;
    -fx-border-width: 3;

    /* -fx-border-radius: 20; */
    /* -fx-background-radius: 20; */

    -fx-visibility: hidden;
}

.bike1 {
    -fx-background-image: url('image/xedap_donthuong.png');
}

.bike2 {
    -fx-background-image: url('image/xedap_doithuong.png');
}

.bike3 {
    -fx-background-image: url('image/xedap_dondien.jpg');
}

.barCode {
    -fx-alignment: center;
    -fx-text-fill: -color1;
    -fx-font-family: 'Press Start 2P';
    -fx-font-size: 20;
}

.parkingProfile {
    -fx-background-color: white;
    -fx-border-color: -color5;
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-margin: 10;
    -fx-min-height: 320;
    /* -fx-max-width: 405; */
    /* -fx-pref-width: 405; */
}

.parkingAvatar {
    -fx-background-image: url('image/ParkingAvatar.jpg');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
    -fx-background-radius: 100;
    -fx-image-borders: none;
    -fx-border-width: 5;
    /* -fx-border-radius: 50%; */
    -fx-border-color: -color2;

    -fx-effect: dropshadow(three-pass-box, rgba(56, 55, 55, 0.5), 15, 0, 5, 5);
}

.hostInfo-title {
    -fx-text-fill: white;
    -fx-font-size: 2em;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-background-color: -color3;
    -fx-background-radius: 10;
}

.popup {
    -fx-background-color: white;
    -fx-pref-width: 500;
    -fx-pref-height: 280;
}

.popup-promptText {
    /*-fx-pref-width: 590;*/
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: -color1;
}

.popup-promptInput {
    -fx-padding: 0 .5em 0 1em;
}

.button {
    -fx-cursor: hand;
}

.okBtn {
    -fx-background-color: -color1;
    -fx-text-fill: white;
}

.okBtn:hover {
    -fx-opacity: .95;
}

.okBtn:pressed {
    -fx-opacity: .9;
}

.cancelBtn {
    -fx-background-color: -color4;
    -fx-text-fill: rgb(55, 50, 50);
}

.popup-btn {
    -fx-pref-width: 150;
    -fx-cursor: hand;
}

.popup-btn:hover {
    -fx-opacity: .9;
}

.popup-btn:pressed {
    -fx-opacity: .7;
}

.promptInput{
    -fx-pref-height: 10;
    /*-fx-background-color: #8860D0;*/
}